# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/.cache
/src/test_files
/src/tests/main.cpp
/src/tests/stb.cpp
/src/tests/stb.h
/src/tests/stb_image_write.cpp
/src/tests/stb_image_write.hpp
